extends shared/layout
block main-content
    .container
        .jumbotron
            h1 Welcome to FileCloud
            h2 The biggest collection of files!
    .container
        p Number of uploads: #{totalFiles}
        p Number of users: #{totalUsers}
