doctype
html
    head
        title Academy Events
        link(rel="stylesheet" href="/lib/bootstrap-3.2.0/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body
        header.nav.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") Academy Events
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    if (currentUser)
                        li
                            a(href="/active-events") Active Events
                        li
                            a(href="/passed-events") Passed Events
                        li
                            a(href="/create") +Create Event      

                ul.nav.navbar-nav.navbar-right
                    if (currentUser)
                        li
                            a(href="/profile") Profile
                        li
                            a(href="/profile") Hi, #{currentUser.username}
                        li
                            a(href="/logout") Logout  
                    else
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login

        .container
            if (errorMessage)
                .alert.alert-danger #{errorMessage}

            block main-content

        footer
            p.text-center
                | &copy; Telerik Academy 2014

        include scripts