<header>
    <div class="col-lg-8">
        <h2>Search posts</h2>
        <div>
            <p>You can search by keyword, user or both...</p>
            <div class="form-group">
                <label>Keyword</label>
                <input id="input-pattern" class="form-control" type="text" autofocus name="user" placeholder="Search term">
            </div>
            <div class="form-group">
                <label>User</label>
                <input id="input-username" class="form-control" type="text" name="text" placeholder="By user...">
            </div>
            <button type="submit" id="btn-submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</header>