body {
    margin-top: 100px;
    background-color: #222;
    margin: 0 auto;
}
.col-lg-8 {
    width: auto;
    float: none;
}
#page-wrapper {
    width: 1000px;
    padding: 10px;
    background-color: #fff;
    margin: auto;
}
#greeting {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}
.list-group-item #post-body {
    font-style: italic;
}
#select-sortby {
    margin: 5px 5px;
}
.navbar-nav {
    float: none;
}
.navbar-nav #logout,
#login,
#register {
    float: right;
}