body {
    margin-top: 100px;
    background-color: #222;
    margin: 0 auto;
}

.col-lg-8 {
    width: auto;
    float: none;
} 

#page-wrapper {
    width: 1000px;
    padding: 10px;
    background-color: #fff;
    margin:auto;
}