body, h1, dl {
    margin: 0; 
    padding: 0;
    border: 0;
}

body {
    font-family: sans-serif;  
}

.yellow {
    color: #E2E095;   
}

.red {
    color: #FF070B;  
    font-weight: bold;
}

.orange {
    color: #E56C27;   
    font-weight: bold;
}

.wrapper {
    box-sizing: border-box;
    width: 306px;
    height: 208px;
    background-color: #595959;
}

h1 {
    padding-left: 4px;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 1.0em;
    font-weight: normal;
    color: #A0A0A0;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #71B47A;
}

.no-break-before 
{
    margin-top: -11px;
}

dt, dd {  
    line-height: 2.4;
    color: #B0B0B0;
}

.dl-horizontal {
    padding-left: 4px;
    font-size: 0.7em;  
}

.dl-horizontal dt {
    float:left;
    width:90px;
    font-style: italic;
    color: #E0E0E0;
}

.dl-horizontal dd {
    margin-left:99px
}